

.card {


    transition: transform 0.3s ease-in-out;


    /* margenes */
   margin:10px;
 
  


    /* fondo */
    background-color: rgba(62, 3, 110, 0.450);

    /* texto */
    font-family:  'Pacifico', cursive;
    /* font: italic normal 400 16px Arial, Verdana, sans-serif; */
    color: rgb(255, 255, 255);

    /* bordes */
    border-style:solid;
    border-width: 3px;
    border-color: rgb(52, 9, 207);
    border-radius: 1rem;
    size-adjust: center;

    


    &:hover {
        background-color: rgba(70, 3, 194, 0.8); /* Cambiar a un color de fondo más claro */
        color: #dcdcdc; /* Cambiar a un color de texto más claro */
        transform: scale(1.04);
    }

    
}

.imagen {
    width: 90%;
     height: auto;
       border-radius: 200px;
       border: solid;
       border-color: black;
   
   }

   .nombre {
font-family: 'Pacifico', cursive;
color: white;
background-color: black;

   }

.boton{
    background-color: rgb(14, 7, 7);
    margin-top: 10px;
   border: solid;
    border-color: rgb(6, 5, 10);
} 